@model InsuranceCompanyProject.Models.DataModels.TblEmployee

@{
    ViewBag.Title = "Çalışan Güncelle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container mt-4">
    <div class="alert alert-warning"><h2>Çalışan Güncelle</h2></div>
    @using (Html.BeginForm("UpdateEmployee", "Employee", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.EmloyeeId)



        <label>Görsel URL</label>
        @Html.TextBoxFor(m => m.EmployeImageUrl, new { @class = "form-control" })
        <br />

        <label>Ad</label>
        @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control" })
        <br />

        <label>Soyad</label>
        @Html.TextBoxFor(m => m.EmpolyeeSurname, new { @class = "form-control" })
        <br />

        <label>Görev</label>
        @Html.TextBoxFor(m => m.EmployeeJob, new { @class = "form-control" })
        <br />

        <label>Sosyal Medya 1</label>
        @Html.TextBoxFor(m => m.EmployeeSocialMedia1, new { @class = "form-control" })
        <br />

        <label>Sosyal Medya 2</label>
        @Html.TextBoxFor(m => m.EmployeeSocialMedia2, new { @class = "form-control" })
        <br />

        <label>Sosyal Medya 3</label>
        @Html.TextBoxFor(m => m.EmployeeSocialMedia3, new { @class = "form-control" })
        <br />

        <label>Sosyal Medya 4</label>
        @Html.TextBoxFor(m => m.EmployeeSocialMedia4, new { @class = "form-control" })
        <br />

        <button type="submit" class="btn btn-success">Güncelle</button>

    }
</div>
