@model List<InsuranceCompanyProject.Models.DataModels.TblServices>

<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">@Resources.Messages.ServicesTitle</h4>
            <h1 class="display-4 mb-4">@Resources.Messages.ServiccesSubTitle</h1>
            <p class="mb-0">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt sint dolorem autem obcaecati, ipsam mollitia hic.
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="@item.ServicesCardImageUrl" class="img-fluid rounded-top w-100" alt="">
                            <div class="service-icon p-3">
                                <i class="@item.ServicesCardIcon"></i>
                            </div>
                        </div>
                        <div class="service-content p-4">
                            <div class="service-content-inner">
                                <a href="#" class="d-inline-block h4 mb-4">@item.ServicesCardTitle</a>
                                <p class="mb-4">@item.ServicesCardDescription</p>
                                <a class="btn btn-primary rounded-pill py-2 px-4" href="#">@Resources.Messages.ServicesReadmore</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                <a class="btn btn-primary rounded-pill py-3 px-5" href="#">@Resources.Messages.Servicesother</a>
            </div>
        </div>
    </div>
</div>
